<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/template :: head('Cargo')"></head>

<body>
    <div class="wrapper">
        <!-- Aside -->
        <div th:replace="fragments/template :: aside"></div>

        <!-- Contenido principal -->
        <div class="main">
            <!-- Header -->
            <div th:replace="fragments/template :: header"></div>

            <!-- Main diferente en cada página -->
            <main class="p-3">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h2 class="mb-0">Empleados</h2>
                            <!-- Botón que abre el modal -->
                            <button class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#registrarUsuarioModal">
                                Registrar
                            </button>
                        </div>
                        <!-- Opciones arriba de la tabla -->
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <div>
                                <label>
                                    Mostrar
                                    <select class="form-select d-inline-block w-auto">
                                        <option>10</option>
                                        <option>25</option>
                                        <option>50</option>
                                    </select>
                                    registros
                                </label>
                            </div>
                            <div>
                                <label>
                                    Buscar:
                                    <input type="search" class="form-control d-inline-block w-auto"
                                        placeholder="Escribe aquí...">
                                </label>
                            </div>
                        </div>



                        <!-- Tabla -->
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover align-middle">
                                <thead class="table-light">
                                    <tr>
                                        <th>Acciones</th>
                                        <th>ID</th>
                                        <th>Nombres y Apellidos</th>
                                        <th>DNI</th>
                                        <th>Dirección</th>
                                        <th>Teléfono</th>
                                        <th>Correo</th>
                                        <th>Empresa</th>
                                        <th>Área</th>
                                        <th>Cargo</th>
                                        <th>Sueldo Base</th>
                                        <th>Tipo de Pago</th>
                                        <th>Estado</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <button class="btn btn-sm btn-warning me-1">
                                                <i class="lni lni-brush-2"></i>
                                            </button>
                                            <button class="btn btn-sm btn-danger">
                                                <i class="lni lni-life-guard-tube-1"></i>
                                            </button>
                                        </td>
                                        <td>1</td>
                                        <td>Juan Pérez</td>
                                        <td>74589632</td>
                                        <td>Av. Siempre Viva 123</td>
                                        <td>987654321</td>
                                        <td>juan.perez@mail.com</td>
                                        <td>Empresa ABC</td>
                                        <td>Marketing</td>
                                        <td>Analista</td>
                                        <td>S/ 2500</td>
                                        <td>Mensual</td>
                                        <td>Activo</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- paginacion que se tendra -->
                        <div class="d-flex justify-content-between align-items-center">
                            <small>Mostrando registros del 1 al 1 de un total de 1 registros</small>
                            <nav>
                                <ul class="pagination pagination-sm mb-0">
                                    <li class="page-item disabled"><a class="page-link">Anterior</a></li>
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">Siguiente</a></li>
                                </ul>
                            </nav>
                        </div>

                    </div>
                </div>
            </main>

            <!-- Footer -->
            <div th:replace="fragments/template :: footer"></div>
        </div>
    </div>

    <div class="modal fade" id="registrarUsuarioModal" tabindex="-1" aria-labelledby="registrarUsuarioModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fw-bold" id="registrarUsuarioModalLabel">Registrar Empleados</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row g-3">
                            <div class="col-md-12">
                                <label class="form-label">Nombres</label>
                                <input type="text" class="form-control" required>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Apellidos</label>
                                <input type="text" class="form-control" required>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">DNI</label>
                                <input type="text" class="form-control" required>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Teléfono</label>
                                <input type="text" class="form-control" required>
                            </div>
                            <div class="col-md-12">
                                <label class="form-label">Dirección</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-md-12">
                                <label class="form-label">Correo</label>
                                <input type="email" class="form-control">
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Empresa</label>
                                <select class="form-select" required>
                                    <option value="" disabled selected>Seleccione la empresa</option>
                                    <option value="1">Empresa ABC</option>
                                    <option value="2">Inversiones XYZ</option>
                                    <option value="3">Tech Solutions</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Área</label>
                                <select class="form-select" required>
                                    <option value="" disabled selected>Seleccione el área</option>
                                    <option value="1">RR.HH</option>
                                    <option value="2">Marketing</option>
                                    <option value="3">Tecnología</option>
                                    <option value="4">Seguridad</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Cargo</label>
                                <select class="form-select" required>
                                    <option value="" disabled selected>Seleccione el cargo</option>
                                    <option value="1">Analista</option>
                                    <option value="2">Asistente</option>
                                    <option value="3">Desarrollador</option>
                                    <option value="4">Supervisor</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Sueldo Base</label>
                                <input type="number" class="form-control" required>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Tipo de Pago</label>
                                <select class="form-select" required>
                                    <option value="" disabled selected>Seleccione el tipo</option>
                                    <option value="1">Mensual</option>
                                    <option value="2">Semanal</option>
                                    <option value="3">Diario</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Estado</label>
                                <select class="form-select" required>
                                    <option value="" disabled selected>Seleccione el estado</option>
                                    <option value="1">Activo</option>
                                    <option value="2">Inactivo</option>
                                </select>
                            </div>


                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>
<script src="/js/sidebar.js"></script>

</html>